* {
	padding: 0;
	margin: 0;
}
input:focus{outline: none;}


.nav {
	line-height: 60px;
	height: 60px;
	width: 100%;
	background: #01567b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
}

.nav a {
	color: white;
	text-decoration: none;

}

.counter {
	width: 1160px;
	margin: 0 auto;
}

.left {

	float: right;
}

.right {
	float: left;
}


.registerbox {
	margin: 100px 0px 460px 0px;
}

.rgiboxinfo {
	margin: 0 auto;
	width: 385px;
	height: 405px;
	border: 1.5px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.rgititle {
	font-size: 30px;
	color: #003a65;
	padding: 40px 0px 30px 40px;
}

.rgiinputlist {
	padding: 0px 30px;
}

.rgiinput {
	width: 100%;
	height: 45px;
	margin-bottom: 30px;
	border: 1px solid #004870;
	border-radius: 6px;
	box-sizing: border-box;
	color: rgba(1, 86, 123, 0.6);
	font-size: 16px;
	letter-spacing: 0.5px;
	padding-left: 20px;
}

.rgiregister {
	padding: 0px 30px;
}

.rgibtn {
	cursor: pointer;
	width: 100px;
	height: 35px;
	border: 0;
	border-radius: 6px;
	color: #FFFFFF;
	background: #008caf;
	float: left;
}

.rgia {
	display: flex;
	float: right;
	color: black;
}
input::-webkit-input-placeholder{
  color: rgba(1,86,123,0.6);
  font-size: 16px;
  letter-spacing: 0.5px;
}